@import url("/public/Webfonts/fontiran.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: IRANSansX, sans-serif;
  font-display: swap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

input {
  text-align: right;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
